body{
    overflow-x: hidden;
}
.form-back{
    background: url('../images/ban.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.top{
    position: absolute;
    max-width: 600px !important;
    left: 50%;
    transform: translate(-50%,-11%);
    top: 13%;
    width: 100%;
}
.center{
    max-width: 600px !important;
    background-color: #2c2c3470;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px 10px;
}
.btn{
    padding-left: 0 !important;
        margin-top: 20px;
}
.cs-btn{
    text-decoration: none;
    color: white;
    background-color: #62A24F;
    padding: 5px 22px;
    transition: 0.5s;
}
.cs-btn:hover{
    text-decoration: none;
    color: white;
}
.wh{
    color: white;
}
.form-sign{
    background: #3B5998;
    overflow: hidden;
}
@media (min-width: 1200px) {
 .top{    top: 4%;}   
}
.kk{
    margin-top: 31px;
}
